body {
    font-family: Arial, sans-serif;
    background-image: url('../loginpage/votingimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2a07f1;
}